:local {

    .container {
        width: 337px;
        height: 600px;
        padding-right: 0;
        overflow: auto; 
        display: inline-block;
    }

    .info {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        position: absolute;
        padding-top: 13px;
        width: 338px;
        height: 255px
    }
    .moreInfo {
        background-color: #2a3644;
        width: 338px;
        height: 255px;
        bottom: 0;
        position: absolute;
        padding-top: 13px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        overflow: scroll;
    }
    .star {
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        line-height: 1;
        font-size: 1em;
        color: #ABABAB;
        transition: color .2s ease-out;
    }

    .star:hover {
        cursor: pointer;

    }

    .fields {
        color: #FFF;
        margin-left: 10px;
        font-weight: 100;
    }

    .ratings {
        margin-top: 10px;
        display: inline-block;
        font-weight: 100;
        margin-left: 10px;
        color: #FFF; 
    }

    .swipe {
        position: absolute;
        left: 71%;
        margin-top: 10px;
    }

    #name {
        color: white;
        margin-left: 10px;
        font-size: 25px;
        font-weight: 200;
    }

    img {
        width: 10%;
    }

    .video {
        width: 100%;
        margin-top: 70px;
        height: 76%;

    }

    .Button {
        background-color: #37d3b4;
        color: white;
        margin-left: 10px;
        width: 320px;
        margin-top: 10px;
        margin-bottom: 100px;
        border-radius: 20px;
        font-weight: 100;

    }

    .end {
        background-color: #e64b4b;
        color: white;
        margin-left: 10px;
        width: 320px;
        margin-top: 10px;
        margin-bottom: 100px;
        border-radius: 20px;
        font-weight: 100;

    }

    .back {
        display: inline;
        float: left;
        margin-top: 15px;
        border: none;
        background-color: transparent;
    }
    .back i {
        color: #37d3b4;
        font-size: 20pt;
    }

    .next {
        display: inline;
        float: right;
        margin-top: 15px;
        border: none;
        background-color: transparent;
        margin-left: 266px;
    }
    .next i {
        color: #37d3b4;
        font-size: 20pt;
    }

    .connectFont {
        color: white;
        font-weight: 100;
        font-size: 7pt;
        margin-left: 113px;
    }

    button i {
        color: white;
    }

    .Arrow {
        margin: auto;
        width: 50%;
        text-align: center;
    }
    
    .Arrow button{
        border: none;
        background-color: transparent;
    }

    #expertise {
        margin-bottom: 10px;
    }
}