:local {
    .star {
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        line-height: 1;
        font-size: 1.5em;
        color: #ABABAB;
        transition: color .2s ease-out;
    }

    .star:hover {
        cursor: pointer;

    }

    .fields {
        color: #FFF;
        margin-left: 10px;
        font-weight: 100;
    }

    .ratings {
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 10px;
    }

    .swipe {
        position: absolute;
        left: 71%;
        margin-top: 10px;
    }

    img {
        width: 10%;
    }

}