:local {

    #background {
        width: 100%;
        height: 100%;
        background-image: url("../../resources/faces.jpg");
        background-size: 337px;
    }


    #enrolled {
        padding-top: 100px
    }

}