:local {
    #background {
        background-color: #1d365c;
        color: white;
        height: 100%;
    }

    td {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .term {
        color: white;
        padding-left: 10px;
        padding-top: 10px;
        font-weight: 100;
    }

    .term .termHeader{
        font-weight: bolder;
        display: inline;
    }

    .term .termBody {
        display: inline;
    }

    .consentText {
        margin-top: 20px;
        margin-left: 10px;
    }

    .termsLink {
        text-align: center;
        margin-top: 10px;
    }

    .tableRow {
        background-color: white;
        color: black;
        padding: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .tableHeaders {
        display: inline-block;
        font-weight: bold;
    }

    .tableResults {
        display: inline-block;
    }

    .buttonBackground {
        text-align: center;
        height: 100px;
        background: linear-gradient(
            rgba(20,20,20, .7), 
            rgba(20,20,20, .7));
        position: absolute;
        bottom: 0;
    }
}