:local {
  .box {
    background-color: lightgrey;
    margin: 80px;
    margin-top: 30px;
    margin-left: 460px;
    height: 730px;
    width: 440px;
    overflow: hidden;
  }

  .container h2 {
    font-size: 5rem;
  }

  .container a {
    font-size: 1.4rem;
  }

  .phone {
    background-color: white;
    border-radius: 5px;
    height: 95%; 
    overflow: auto;
    position: absolute;

  }
  img {
    width: 120%;
    height: auto; 
    margin-top: 10px;
  }

  .content {
    position: absolute
  }  
    
}

:global {


  .navbar-fixed-left {
    width: 50px;
    position: absolute;
    border-radius: 0;
    height: 730px;
    overflow: hidden;
  }

  .navbar-fixed-left li {
    padding-left: 8px;
  }
  
  .navbar-nav {
    overflow: hidden;
    padding-top: 15px; 
  }

  .navbar-nav li a span {
    padding-left: 5px;
    display: none;
  }

  .navbar-fixed-left:hover{
    width: 120px;
    overflow: visible;
  }

  .navbar-fixed-left:hover .navbar-nav li a span {
    display: inline-block;
  }
  
  .navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 139px;
  }
  
  .fa {
    color: white; 
  }

}








