:local {
  .box {
    background-color: lightgrey;
    margin: 80px;
    margin-top: 30px;
    margin-left: 460px;
    height: 730px;
    width: 440px;
    overflow: hidden;
  }

  .container {
    width: 440px;
    padding-left: 50px;
    padding-right: 0;
    overflow: auto;  
    display: inline-block;
  }  

  .phone {
    background-color: white;
    border-radius: 5px;
    height: 95%; 
    overflow: auto;
    position: absolute;

  }
  img {
    width: 120%;
    height: auto; 
    margin-top: 10px;
  }
  
  
}

:global {
  
  .navbar {
    border-radius: 0;
    width: 50px;
    position: absolute;
    height: 730px;
    overflow: hidden;
  }

  .navbar-fixed-left:hover{
    width: 150px;
    overflow: visible;
  }

  .navbar-fixed-left:hover .navbar-nav li a span {
    display: inline-block;
  }
  
  .navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 139px;
    padding-bottom: 44px;
    position:relative;
    display:block;
    width:250px;

  }
  
  .navbar-fixed-left .navbar-nav > li > a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
  }
  .navbar-nav {
    overflow: hidden;
    padding-top: 68px; 
  }

  .navbar-nav > li > a > span {
    padding-left: 5px;
    padding-top: 9px;
    display: none;
    position:relative;
    display:table-cell;
    vertical-align:middle;
  }
  
  .fa {
    color: white; 
    font-size: 2em;
    position: relative;
    display: table-cell;
    width: 50px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
  }

}








