:local {
    #topBar {
        position: relative;
        top: 0px;
        width: 338px;
        height: 40px;
        background-color: #37d3b4;
        color: white;
    }
    #menuBtn {
        background-color: #37d3b4;
        border: none;
        margin-right: 55px;
        padding: 0;
    }

    #backBtn {
        background-color: #37d3b4;
        border: none;
        padding: 0;
    }

    #page {
        display: inline;
        width: 100pt;
        margin-top: 8pt;
        margin-left: -50pt;
        left: 50%;
        text-align: center;
        position: absolute;
    }

    
}