:local {
    #topBar {
        position: relative;
        top: 0px;
        width: 338px;
        height: 40px;
        background-color: #37d3b4;
        color: white;
    }
    #menuBtn {
        background-color: #37d3b4;
        border: none;
        margin-right: 55px;
        padding: 0;
    }

    #menuBtn > a:hover {
        text-decoration: none;
    }

    #menuBtn > a > i {
        color: white; 
        font-size: 2em;
        position: relative;
        display: table-cell;
        width: 29px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 15px;
    }

    #backBtn {
        background-color: #37d3b4;
        border: none;
        padding: 0;
    }

    #backBtn > a > i {
        color: white; 
        font-size: 2em;
        position: relative;
        display: table-cell;
        width: 29px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 15px;
    }

    #page {
        display: inline;
        width: 100pt;
        margin-top: 8pt;
        margin-left: -50pt;
        left: 50%;
        text-align: center;
        position: absolute;
    }

    #menu {
        border-radius: 0 0 0 0px;
        width: 50px;
        position: absolute;
        height: 560px;
        overflow: hidden;
        border-color: #34517c;
        background-color: #34517c;
        display: none;
        width: 163px;
        z-index: 1000;
        left: 0; 
        padding-top: 10px;
        padding-left: 30px;
        border-top: none;
        border-bottom: none;
    }

    #navigation {
        overflow: hidden;
    }


    #navigation >li {
        float: none;  /* Cancel default li float: left */
        padding-bottom: 13px;
        position:relative;
        padding-top: 18px;
        display:block;
        width:250px;
  
    }

    #navigation > li > a {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:#999;
        font-family: arial;
        font-size: 14px;
        text-decoration:none;
        -webkit-transform:translateZ(0) scale(1,1);
        -webkit-transition:all .1s linear;
        transition:all .1s linear;
  
    }

    #navigation > li > a > i {
        color: white; 
        font-size: 2em;
        position: relative;
        display: table-cell;
        width: 29px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 15px;
   
    }


    #navigation > li > a > span {
        padding-left: 5px;
        padding-top: 2px;
        display: none;
        position:relative;
        display:table-cell;
        vertical-align: middle;
        color: white;
  
    }

    
}

:global {
    // .navbar {
    //   border-radius: 0 0 0 0px;
    //   width: 50px;
    //   position: absolute;
    //   height: 560px;
    //   overflow: hidden;
    //   background-color: #34517c
    // }
  
    // .navbar-fixed-left {
    //   display: none;
    //   width: 163px;
    //   z-index: 1000;
    //   left: 0; 
    //   padding-top: 10px;
    //   margin-left: 495px
    // }
  
    // .navbar-fixed-left .navbar-nav > li {
    //   float: none;  /* Cancel default li float: left */
    //   padding-bottom: 13px;
    //   position:relative;
    //   padding-top: 20px;
    //   display:block;
    //   width:250px;
  
    // }
    
    // .navbar-fixed-left .navbar-nav > li > a {
    //   position:relative;
    //   display:table;
    //   border-collapse:collapse;
    //   border-spacing:0;
    //   color:#999;
    //   font-family: arial;
    //   font-size: 14px;
    //   text-decoration:none;
    //   -webkit-transform:translateZ(0) scale(1,1);
    //   -webkit-transition:all .1s linear;
    //   transition:all .1s linear;
    // }

    // .navbar-nav {
    //   overflow: hidden;
    // }
  
    // .navbar-nav > li > a > span {
    //   padding-left: 5px;
    //   padding-top: 2px;
    //   display: none;
    //   position:relative;
    //   display:table-cell;
    //   vertical-align: middle;
    //   color: white;
    // }
    
    // .fa {
    //   color: white; 
    //   font-size: 2em;
    //   position: relative;
    //   display: table-cell;
    //   width: 29px;
    //   height: 36px;
    //   text-align: center;
    //   vertical-align: middle;
    //   font-size: 15px;
    // }
  
  }
  
