:local {
    .pickerBackground {
        background-color: #1d365c;
        color: white;
        padding: 10pt;
        height: 100%;
    }

    .pick {
        background-color: #736cff;
        color: white;
        width: 110px;
        border-radius: 20px;
        font-weight: 100;
        display: inline-block;
        margin-top: 5px;
    }
    

}