:local {
    .settings {
        background-color: #1d365c;
        color: white;
        height: 100%;
        padding: 10pt;
    }

    .lang {
        font-size: 15pt;
        font-weight: 100;
    }

    .font {
        font-weight: 100;
    }
}