:local {
    #background {
        background-color: #1d365c;
        color: white;
        height: 100%;
        padding: 10px;
    }

    td {
        background-color: white;
        color: black;
        border: 1px solid black;
        width: 250px;
    }

    #amount {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .term {
        color: white;
        padding-left: 10px;
        padding-top: 10px;
        font-weight: 100;
        font-size: 13px;
    }

    .term .termHeader{
        font-weight: bolder;
        display: inline;
        font-size: 12px;
    }

    .term .termBody {
        display: inline;
    }

    .consentText {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 259px;
        float: right;
        margin-left: 10px;
        display: inline;
    }

    .termsLink {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .paymentHeader {
        color: white;
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
    }

    .option {
        margin-left: 10px;
    }
}