:local {
    .newContainer {
        width: 337px;
        height: 600px;
        padding-right: 0;
        overflow: auto;  
        display: inline-block;
    
    }
    .tour {
        color: white;
        height: 100%;
    }

    img {
        width: 337px;
    }

    .exit {
        position: absolute;
        right: 16pt;
        margin-top: 5pt;
    }

    .nextContainer {
        position: absolute; 
        bottom: 40px;
    }

}

