:local {
    #amount {
        position: relative; 
        color: white; 
        height: 150px;
        text-align: center;
        background-image: url("../../resources/walletHeader.jpg");
    }

    .buttons {
        background-color: black; 
        height: 60px;
        display: inline-block;
        width: 33.3%;
        text-align: center;
        color: white;
        font-weight: 100;
        position: relative;
    }

    .buttons > img {
        width: 35px;
        margin-top: 0px;
    }

    .deposit {
        background-color: #34517c;
        height: 410px;
        color: white; 
    }
    #buttonWell {
        height: 60px;
    }

}