:local {
    #amount {
        position: relative; 
        color: white; 
        height: 100px;
        text-align: center;
        background-image: url("../../resources/walletHeader.jpg");
    }

    #amount > div > button {
        background-color: "#776cf0";
        color: "white";
        padding-top: "0";
        margin-left: "10px";
        height: "20px";
        width: "220px";
        margin-top: "10px";
        border-radius: "20px";
        font-weight: 100;
        font-size: ""
    }

    .buttons {
        background-color: black; 
        height: 60px;
        display: inline-block;
        width: 33.3%;
        text-align: center;
        color: white;
        font-weight: 100;
        position: relative;
    }

    .buttons > img {
        width: 35px;
        margin-top: 0px;
    }

    .section {
        background-color: #1d365c;
        height: 410px;
        color: white; 
        padding: 10pt;
        position: relative;
    }

    #buttonWell {
        height: 60px;
    }

    #buttonWell:hover {
        cursor: pointer;
    }

    .sectionHeader {
        font-size: 15pt;
    }

    .sectionInfo {
        font-size: 10pt;
        font-weight: 100;
        margin-bottom: 20pt;
    }

    #walletAddress {
        margin-top: 5px;
        font-weight: 100;
        font-size: 9pt;
        height: 20px;
        width: 100%;
        text-align: center;
    }

    #ether {
        background-color: white; 
        border-radius: 5px;
    }

    .ether {
        width: auto;
        height: 80px;
        border-radius: 5px;
    }

    #spinner {
        height: auto;
        display: inline-block;
    }

}